body{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(222, 187, 14);
    border: 5px dotted rgb(51, 29, 29);
    
}